@import '../../styles/variables';

header {
    position: sticky;
    top: 0;
    z-index: 1;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white;
        padding: 10px 80px;
        box-shadow: 0px 4px 5px -5px rgba(0, 0, 0, 0.23);

        .nav-icons {
            .logo-container {
                img {
                    width: 3rem;
                    cursor: pointer;
                }
            }

            .cart-mobile {
                display: none;
            }
        }

        .nav-links-container {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 15px;

                li {
                    list-style: none;

                    span {
                        text-decoration: none;
                        font-size: $Link-Nav;
                        font-weight: 600;
                        color: $main;
                        transition: 0.3s ease-in-out;
                        text-transform: capitalize;
                        cursor: pointer;

                        &:hover {
                            color: #17cf97;
                        }
                    }

                    a {
                        text-decoration: none;
                        font-size: $Link-Nav;
                        font-weight: 600;
                        color: $main;
                        transition: 0.3s ease-in-out;
                        text-transform: uppercase;
                        cursor: pointer;

                        &:hover,
                        &.active {
                            color: #17cf97;
                        }
                    }
                }
            }
        }

        .mobile {
            display: none;
            i {
                color: $main;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    header {
        nav {
            padding: 20px 20px;
            align-items: center;

            .nav-icons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .logo-container {
                    img {
                        width: 3rem;
                        cursor: pointer;
                    }
                }

                .cart-mobile {
                    display: block;
                }
            }
            .nav-links-container {
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    position: fixed;
                    top: 80px;
                    right: -300px;
                    width: 300px;
                    height: fit-content;
                    background: $white;
                    padding: 40px 0 0 10px;
                    transition: 0.3s ease-in-out;

                    li {
                        margin-bottom: 25px;
                    }

                    .cart-desktop {
                        display: none;
                    }
                }

                .activeNav {
                    right: 0px;
                    width: 100%;
                    height: fit-content;
                    padding-bottom: 35px;
                    align-items: center;
                }
            }

            .mobile {
                display: block;
                i {
                    color: #000;
                }
            }
        }
    }
}
