@import '../../styles/variables';

.categories-header-container {
    @include container;
    margin-top: 3rem;

    .categories-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3rem;

        a {
            font-size: 20px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .categories-title {
            display: block;
            text-align: center;
            margin: 0 auto;
            font-size: 2rem;
        }
    }

    .categories-filter {
        justify-content: center;
        display: flex;
        gap: 1rem;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;

        a {
            button {
                padding: 0.6rem 1.6rem;
                cursor: pointer;
                background-color: transparent;
                border: 2px solid rgba(0, 0, 0, 0.3);
                transition: all 0.2s;

                &:hover {
                    border: 2px solid rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

.prouducts-container {
    @include container;
    padding: 3rem 0;

    .products-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;

        .product {
            outline: 2px solid rgba(0, 0, 0, 0.205);
            outline-offset: -2px;
            transition: all 0.15s ease-in;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
            }

            &:hover {
                outline: 2px solid rgba(0, 0, 0, 0.7);
            }

            .product-header {
                img {
                    width: 100%;
                }
            }
            .product-details {
                font-size: 1.7rem;
                padding: 1rem;

                .item-title {
                    font-weight: 400;
                    font-size: 20px;
                }

                .item-price {
                    font-weight: 600;
                    font-size: 2.2rem;
                    margin-top: 1.4rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 430px) {
    .categories-header-container {
        @include mobile;
    }
    .prouducts-container {
        @include mobile;

        .products-grid {
            grid-template-columns: 1fr;
        }
    }
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
    .categories-header-container {
        @include mobile;
    }
    .prouducts-container {
        @include mobile;

        .products-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1114px) {
    .prouducts-container {
        @include mobile;

        .products-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
